body{
    background:black url(grunge-black-concrete-textured-background.jpg) repeat-y right top ;
    background-size: 100% auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
}
.title{
    font-size: 200%;
    width:100%;
    height: auto;
    text-align: center;
    padding-top: 1%;
    color:white;
}
header{
    margin-bottom:8%;
}
.title:focus{
    outline:none;
}
.container{
    display : flex;
}
.low-level-container{
    flex-direction: column;
}
#add-subject{
    font-size: 45px;
    padding:0;
    font-weight: bold;
    line-height: 1;
    width:50px;
    height:50px;
    position: absolute;
    right:10px;
    top:10px;
}
#adding-subject-container,#adding-chapter-container{
    position:fixed;
    width:30%;
    height:fit-content;
    left:50%;
    top:50%;
    translate: -50% -50%;
    border-radius: 20px;
    border: 1px solid white;
    padding: 20px;
}
#cancel-button1, #confirm-button1, #cancel-button2, #confirm-button2{
    width:fit-content;
    aspect-ratio: 2/1;
    font-size: 120%;
    float: right;
    margin-right: 10px;
}
#floating-input1, #floating-input2{
    background:#313539;;
    border:0;
    color:white;
    margin-top:8%;
    margin-bottom: 8%;
}
.subject-title{
    opacity:0.6;
    text-align: center;
    min-width:fit-content;
    height:10%;
    line-height:0;
    cursor: pointer;
}
.plusButton{
    color :white;
    background-color: #00000000;
    border:0;
    font-size: 150%;
}
.chapter-title{
    text-align: center;
    height:10%;
    line-height:0;
    cursor: pointer;
    background-color: #191a1c;
    color:white;
    /*text-decoration: line-through red 2px;*/
    margin-left: 5%;
    margin-right: 5%;
    border-color: #313539;
}